.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
.github/**
.husky/**
node_modules/**
coverage/**
jest.config.json
webpack.config.js
!node_modules/@google/generative-ai/**
!node_modules/diff-match-patch/**
!dist/**
package-lock.json